---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home">
	<main class="w-full h-screen flex flex-col justify-center items-center">
	  <h1 class="text-5xl text-white bg-cyan-600 p-6 rounded-xl">MolysTechie</h1>
	  <p class="text-base text-gray-700">We Shining baby!</p>
  </main>

</BaseLayout>
