---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<style>
	.last{
		background: cyan;
		margin-top: 20px;
		padding: 5px 10px;
		border-radius: 25px;
		font-weight:bold;
	}
</style>

<BaseLayout title="Home">
	<main class="w-full h-screen flex flex-col justify-center items-center">
	  <h1 class="text-5xl text-white bg-cyan-600 p-6 rounded-xl">MolysTechie</h1>
	  <p class="text-base text-gray-700">With Astro, We Shining baby!</p>
	  <p class="last">MolysTechie we are not left behind this time</p>
  </main>

</BaseLayout>
<!-- 
	Already deployed
		https://molystechie.github.io/Astro-hello-world  
	
-->
